---
import "@styles/globals.css";
import Themes from "astro-themes";
import BaseHead from "./BaseHead.astro";
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Navbar from "@components/view/Navbar.astro";

// 定义 Props 接口
export interface Props {
  title?: string; // 标题
  description?: string; // 描述
}

// 获取 Props
const { title = t("site.title") || "Astro", description = t("site.description") || "My Astro Site" } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <BaseHead title={title} description={description} permalink="" />
    <Themes defaultTheme="dark" />
    <title>{title}</title>
    <HeadHrefLangs />
  </head>
  <body>
    <Navbar />
    <main class="mx-auto max-w-7xl mt-12 px-6">
      <slot />
    </main>
  </body>
</html>